<p-menubar styleClass="shadow-2">

  <!-- Left Logo -->
  <ng-template pTemplate="start">

    @if(isLoggedIn())
    {
    <p-button (click)="open()" icon="pi pi-bars" class="m-2" />
    }

    <div class="flex align-items-center gap-2">
      <i class="pi pi-shield text-primary text-xl"></i>
      <span class="text-xl font-bold">User Management</span>
    </div>
  </ng-template>

  <!-- Right Side -->
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3">

      <p-avatar label="A" shape="circle" styleClass="bg-primary text-white">
      </p-avatar>

      @if(isLoggedIn())
      {
      <button pButton type="button" icon="pi pi-sign-out" class="p-button-text" (click)="logout()">
      </button>
      }


    </div>
  </ng-template>

</p-menubar>